<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/%s.min.css' % request.cookies.get('theme', perfect_blue))}}" type="text/css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
        {% endblock head%}
        {% from "macros.html" import nav_link %}
    </head>

    <body>
    {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="/">博客</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#blogTabs" aria-controls="blogTabs" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="blogTabs">
                <ul class="navbar-nav mr-auto">
                    {{nav_link('blog.index', 'home')}}
                    {{nav_link('blog.main', 'main')}}
                </ul>
            </div>
        </nav>
    {% endblock nav %}

    <main>
        {% block content %}
        {% endblock %}

        {% block footer %}
            <footer>
               <p class="float-left">
                <small> &copy; 2020 <a href="https://github.com/soulYuan" title="Written by soulYuan">soul yuan</a></small>
                </p>
            </footer>
        {% endblock %}
    </main>

    {% block scripts %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<!--        <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
        {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    {% endblock %}
    </body>
</html>